<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>대시보드-병원관련</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/javascripts/plugins/morris/raphael.min.js"></script>
    <script src="/javascripts/plugins/morris/morris.min.js"></script>

    <!-- Morris Charts CSS -->
    <link href="/stylesheets/plugins/morris.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
    <link href="/stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!--bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


</head>

<body>


    <div id="wrapper">

        
    <% include ./partials/dashboard_nav %>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <%=hospital.name%>
                                <small>Appointment List</small>
                        </h1>
                    </div>
                </div>
                <form name="filter" action="/hospital/dashboard/reserve">
                    <input type="hidden" id="sido" name="sido" value='<%=user.usido%>'/>
                    <input type="hidden" id="gungu" name="gungu" value='<%=user.ugungu%>'/>
                    <input type="hidden" id="dong" name="dong" value='<%=user.udong%>'/>
                    <input type="hidden" id="addr1" name="addr1" value='<%=user.uaddress%>'>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                            <i class="fa fa-retweet"></i> 병원 정보 수정</h3>
                                </div>
                                <div class="panel-body" >
                                        <div class="form-group" id="divName">
                                            <label for="inputName" class="col-lg-2 control-label">병원 이름</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control onlyHangul" value='<%=user.uname%>' id="name" name="name" data-rule-required="true" placeholder="한글만 입력 가능합니다." maxlength="15">
                                            </div>
                                        </div>
                                        <br>

                                        <div class="form-group" id="divSubjects">
                                            <label for="inputSubjects" class="col-lg-2 control-label">진료 과목</label>
                                            <div class="col-lg-3">
                                                <select id="subjects" name="subjects" class="selectpicker" multiple data-live-search="true">
                                                        
                                                    <% subjects.forEach(function(item,index){ %>
                                                        <option value='<%=item.code%>' 
                                                        <% hos_sub_info.forEach(function(hs_item,index){ %>
                                                            <% if(hs_item.subject_id == item.code){ %>
                                                                selected="selected"
                                                            <% } %>
                                                        <% }); %>
                                                        ><%=item.subject%></option>
                                                    <% }); %>
                        
                                                </select>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="form-group" id="divHomepage">
                                            <label for="inputHomepage" class="col-lg-2 control-label">홈 페이지</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" value='<%=hospital_info.homepage%>' id="homepage" name="homepage" data-rule-required="true" placeholder="Homepage">
                                            </div>
                                        </div>
                                        <br>

                                        <div class="form-group" id="divTime">
                                            <label class="col-lg-2 control-label">진료시간</label>  
                                            <div class="col-lg-10" align="center">
                                                    <select id="times"  name="times" class="form-control multiselect" align="left" multiple="multiple" required="true">
                                                        <% time_info.forEach(function(item,index){ %>
                                                            <option selected="selected"><%=item.time%></option>
                                                        <% }); %>
                                                    </select>
                                                        <input type="time" name="time" class="form-control"id="time" min="06:00" max="21:00" pattern="[0-2][0-9]:[0-3][0]">
                                                        <input type="button" onclick="addTime()" value="시간 추가" class="btn btn-primary">
                                                        <input type="button" onclick="delTime()" value="시간 제거" class="btn btn-primary">
                                                
                                            </div>
                                        </div>
                                        <br>
                                            
                                        <div class="form-group" id="divTel">
                                            <label for="inputTel" class="col-lg-2 control-label">전화 번호</label>
                                            <div class="col-lg-10">
                                                <input type="tel" class="form-control onlyNumber" value='<%=user.uphone%>' id="tel" name="tel" placeholder="-를 제외하고 숫자만 입력하세요." maxlength="11">
                                            </div>
                                        </div>
                                        <br>

                                        <div class="form-group" id='divAddress'>
                                            <label for="inputAddress" class="col-lg-2 control-label">주소</label>
                                            
                                            <div class="col-lg-10">
                                                <div class="input-group">
                                                    <input id="zip_code" readonly="" value='<%=user.uzip%>' name="post1" placeholder="우편번호"  class="form-control">
                                                    <span class="input-group-btn">    
                                                        <input onclick="openDaumPostcode()" type="button" value="우편번호찾기" class="btn btn-primary">
                                                    </span>
                                                </div>
                                                <p>
                                                    <input class="form-control" id="road_addr" name="addr"  readonly=""  placeholder="법정동 주소" >
                                                    <input class="form-control" id="rest_addr" name="addr_" placeholder="나머지 주소">
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                        
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button type="submit" class="btn btn-primary">정보 수정</button>
                                                <a href="#" class="btn btn-danger">정보 삭제</a>
                                            </div>
                                        </div>

                            </div>
                        </div>
                    </div>
                </form>
            



                <script type="text/javascript">

                    $('.selectpicker').selectpicker({
                        style: 'btn-success',
                        size: 4,
                    });
        
                    $(document).ready(function(){
                        var str = $("#addr1").val();
                        var tmp = str.indexOf("동 ");
                        
                            $("#road_addr").val(str.slice(0,tmp+1));
                            $("#rest_addr").val(str.slice(tmp+2,str.length));
        
                    });
        
                    function addTime(){
                        var temp = $('#time').val() + ":00";
                        
                        $("#times").append("<option value='"+ temp +"' selected=true>" + temp + "</option>");
                        $("#time").val('');
                    }
        
                    function addDoctor(){
                        $("#doctors").append("<option value='"+ $('#doctor').val() +"' selected=true>" + $('#doctor').val() + "</option>");
                        $("#doctor").val('');
                    }        
                    function delTime(){
                        $("#times option:selected").remove();
                        
                        var len1 = Object.keys(times).length;
                        confirm(len1);
                        for( var i=0 ;i<len1;i++)
                        {
                            $('#times option:eq('+i+')').prop("selected", true);
                        }
                    }   
                    function delDoctor(){
                        $("#doctors option:selected").remove();
                        
                        var len1 = Object.keys(doctors).length;
                        confirm(len1);
                        for( var i=0 ;i<len1;i++)
                        {
                            $('#doctors option:eq('+i+')').prop("selected", true);
                        }
                    }   
                </script>
                <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
                <script charset="UTF-8" type="text/javascript" src="http://t1.daumcdn.net/cssjs/postcode/1513129253770/171213.js">        
                </script>
                <script>
                    
                    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                    function openDaumPostcode() {
                        new daum.Postcode({                    
                            oncomplete: function(data) {
                                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.// 우편번호와 주소 정보를 해당 필드에 넣는다.
                                 //5자리 새우편번호 사용
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                                var extraRoadAddr = ''; // 도로명 조합형 주소 변수
                 
                                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                    extraRoadAddr += data.bname;
                                }
                                // 건물명이 있고, 공동주택일 경우 추가한다.
                                if(data.buildingName !== '' && data.apartment === 'Y'){
                                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                }
                                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                if(extraRoadAddr !== ''){
                                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                                }
                                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                                if(fullRoadAddr !== ''){
                                    fullRoadAddr += extraRoadAddr;
                                }
                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                                $("#sido").val(data.sido);
                                $("#gungu").val(data.sigunguCode);
                                $("#dong").val(data.bcode);
                                
                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                $('#zip_code').val(data.zonecode); //5자리 새우편번호 사용
                                $('#road_addr').val(data.jibunAddress);
                                
                            },shorthand:false
                        }).open({
                            autoClose: true});
                            
                            $("#rest_addr").focus();
                    }
                    
                </script>
</body>

</html>